@font-face {
    font-family: Yanone; 
    src: url('YanoneKaffeesatz-Regular.otf');
}

h1, h2 {
    font-family:Yanone;
    margin-bottom:16px;
}

body {
    width:600px;
    margin:auto;
}

#frise {
    background:url("../images/pattern.png");
    width:300px;
    height:16px;
}

#content {
    margin-top:30px;
    font-family: 'Droid Sans', sans-serif;
}
